{% load static %}
<div class="container mx-auto w-full">
    <div
            class="flex flex-col w-full items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12"
    >
        <div class="flex flex-col items-center justify-center sm:flex-row">
            <a href="/" class="sm:mr-6">
                <img src="{% static 'img/logo.svg' %}" alt="logo"/>
            </a>
            <p class="pt-5 mr-2.5 font-body font-light text-primary dark:text-white sm:pt-0">
                ©2022 sutta
            </p>
        </div>
        <div class="flex items-center justify-center pt-5 sm:mr-0 sm:pt-0">

            <a href="https://github.com/ " target="_blank">
                <i
                        class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors mdi mdi-github"
                ></i>
            </a>

            <a href="https://www.linkedin.com/ " target="_blank">
                <i
                        class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors mdi mdi-linkedin"
                ></i>
            </a>

        </div>
    </div>
</div>