{% load static %}
<div class="container mx-auto">
    <div class="flex items-center justify-between py-6 lg:py-10">
        <a href="{% url 'website:home' %}" class="flex items-center">
      <span class="mr-2">
        <img src="{% static 'img/logo.svg' %}" alt="logo"/>
      </span>
            <p
                    class="font-body text-2xl font-bold text-primary dark:text-white lg:block mr-2"
            >
                سوتا
            </p>
        </a>
        <div class="flex flex-row items-center lg:hidden">
            <i
                    class="mdi pl-8 cursor-pointer text-3xl text-primary dark:text-white"
                    @click="themeSwitch()"
                    :class="isDarkMode ? 'mdi-white-balance-sunny' : 'mdi-weather-night'"
            ></i>

            <button @click="isMobileMenuOpen = true"
                    class="mdi mdi-menu text-3xl text-primary dark:text-white"
            >
            </button>
        </div>
        <div class="hidden lg:block">
            <ul class="flex items-center">

                <li class="group relative mr-6 mb-1">
                    <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                    ></div>
                    <a
                            href="/"
                            class="relative z-30 block px-2 font-body text-base font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                    >جدیدترین</a
                    >
                </li>

                <li class="group relative mr-6 mb-1">
                    <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                    ></div>
                    <a
                            href="/contact"
                            class="relative z-30 block px-2 font-body text-base font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                    >تماس با ما</a
                    >
                </li>

                <li class="group relative mr-6 mb-1">
                    <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                    ></div>
                    <a
                            href="/uses"
                            class="relative z-30 block px-2 font-body text-base font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                    >ورود / ثبت نام</a
                    >
                </li>

                <li class="mr-4" :title="isDarkMode ? 'حالت روز' : 'حالت شب'">
                    <i
                            class="mdi cursor-pointer text-3xl text-primary dark:text-white"
                            @click="themeSwitch()"
                            :class="isDarkMode ? 'mdi-white-balance-sunny' : 'mdi-weather-night'"
                    ></i>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include "layouts/sidebar.html" %}