{% load static %}
<div class="container mx-auto">
    <div class="flex items-center justify-between py-6 lg:py-10">
        <a href="{% url 'website:home' %}" class="flex items-center">
      <span class="mr-2">
        <img src="{% static 'img/logo.svg' %}" alt="logo"/>
      </span>
            <p
                    class="font-body text-2xl font-bold text-primary dark:text-white lg:block mr-2"
            >
                سوتا
            </p>
        </a>
        <div class="flex flex-row items-center lg:hidden">
            <i
                    class="mdi pl-8 cursor-pointer text-3xl text-primary dark:text-white"
                    @click="themeSwitch()"
                    :class="isDarkMode ? 'mdi-white-balance-sunny' : 'mdi-weather-night'"
            ></i>

            <button @click="isMobileMenuOpen = true"
                    class="mdi mdi-menu text-3xl text-primary dark:text-white"
            >
            </button>
        </div>
        <div class="hidden lg:block">
            <ul class="flex items-center">

                <li class="group relative mr-6 mb-1">
                    <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                    ></div>
                    <a
                            href="{% url "blog:all-posts" %}"
                            class="relative z-30 block px-2 font-body text-base font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                    >جدیدترین</a
                    >
                </li>

                <li class="group relative mr-6 mb-1">
                    <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                    ></div>
                    <a
                            href="/contact"
                            class="relative z-30 block px-2 font-body text-base font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                    >تماس با ما</a
                    >
                </li>

                {% if request.user.is_authenticated %}
            <li class="group relative mr-6 mb-1">
                    <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                    ></div>
                    <a
                            href="{% url "blog:bookmarks" %}"
                            class="relative z-30 block px-2 font-body text-base font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                    >
                        ذخیره‌شده‌ها
                    </a>
                </li>
                {% endif %}

                <li class="group relative mr-6 mb-1 flex flex-row">
                    <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                    ></div>
                    {% if not request.user.is_authenticated %}
                        <a
                                href="{% url "customuser:login-or-register" %}"
                                class="relative z-30 block px-2 font-body text-base font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                        >ورود / ثبت نام</a>
                    {% else %}

                        <a      onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
                                class="flex flex-row items-center justify-center cursor-pointer px-2 relative z-30 block text-base font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">

                        <span>{{ request.user.username }} -> </span>

                        <span class="flex items-center px-1 cursor-pointer lg:my-0"
                        >
                            خروج
                        </span>
                        <form id="logout-form" action="{% url "customuser:logout" %}" method="POST" style="display: none;">
                            {% csrf_token %}
                        </form>

                        </a>


                    {% endif %}
                </li>

                <li class="mr-4" :title="isDarkMode ? 'حالت روز' : 'حالت شب'">
                    <i
                            class="mdi cursor-pointer text-3xl text-primary dark:text-white"
                            @click="themeSwitch()"
                            :class="isDarkMode ? 'mdi-white-balance-sunny' : 'mdi-weather-night'"
                    ></i>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include "layouts/sidebar.html" %}