{% load compress %}
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود / ثبت نام - سوتا</title>
    <link rel="canonical" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url "customuser:login-or-register" %}"/>
{#    <link rel="next" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url "blog:all-posts" %}"/>#}
    <meta property="og:locale" content="fa_IR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="ورود / ثبت نام - سوتا"/>
    <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url "customuser:login-or-register" %}"/>
    <meta property="og:site_name" content="آموزش مفاهیم برنامه نویسی و طراحی وب - سوتا"/>
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/logo.svg' %}"/>
    <meta property="og:image:secure_url"
          content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/logo.svg' %}"/>
    <meta property="og:image:width" content="1280"/>
    <meta property="og:image:height" content="720"/>
    <meta property="og:image:type" content="image/svg+xml"/>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css"
    />

    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'src/fonts.css' %}">

    <style>
        [x-cloak] {
            display: none;
        }
    </style>

</head>

<body
        x-data="global()"
        x-init="themeInit()"
        :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
        class="dark:bg-primary"
        dir="rtl"
>
<div class="w-full mx-auto font-body">
    <div id="main">
        {% block content %}
        {% endblock content %}
    </div>
</div>

<script src="{% static 'src/main.js' %}"></script>
</body>

</html>