{% extends "../_base.html" %}
{% load blog_tags %}
{% load static %}

{% block content %}

<div>
    <div class="container mx-auto">
        <div class="border-b border-grey-lighter py-16 lg:py-20">
            <div>
                <img src="{% static 'img/author.jpg' %}" class="h-16 w-16 rounded-full" alt="author"/>
            </div>
            <h1
                    class="pt-3 font-body text-4xl font-semibold text-primary dark:text-white text-lg"
            >
                سوتا یعنی:
            </h1>
            <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
                مفاهیم اصلی، بدون پیچیدگی جزییات.
            </p>
            <!--            <a-->
            <!--                    href="/"-->
            <!--                    class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl"-->
            <!--            >-->
            <!--                Say Hello!-->
            <!--            </a>-->
        </div>

        <div class="py-16 lg:py-20">
            <div class="flex items-center pb-6">
                <img src="{% static 'img/icon-story.png' %}" alt="icon story"/>
                <h3
                        class="mr-3 font-body text-xl font-semibold text-primary dark:text-white"
                >
                    پر بازدیدترین
                </h3>
                <a
                        href="{% url "blog:all-posts" %}"
                        class="flex items-center pr-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary"
                >
                    همه نوشته ها
                    <span
                            class="mr-1.5 mdi mdi-arrow-left"
                    >
                    </span>
                </a>
            </div>
            <div>
                {% show_group_posts take=10 as posts %}
                {% include "blog/show-group-posts.html" with posts=posts %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}