{% extends "../_base.html" %}
{% load static %}
{% load blog_tags %}

{% block content %}

    <div x-data
         x-init="setTimeout(()=>{
                 document.getElementById('here').scrollIntoView({behavior: 'smooth', block: 'start', inline: 'nearest'});
                 },800)"
    >
        <div class="container mx-auto">
            <div class="py-16">
                <div>
                    <span class="mdi mdi-newspaper-variant-outline text-6xl text-yellow-dark"></span>
                </div>

                <h1 id="here"
                        class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-2xl lg:text-3xl"
                >
                    همه نوشته ها
                </h1>

                <div class="pt-6 sm:w-3/4">
                    <p class="font-body text-xl font-light text-primary dark:text-white">
                        جست و جو در نوشته ها و دسته بندی ها:
                    </p>
                </div>

                <form class="flex flex-col py-4 sm:flex-row" action="{% url "blog:all-posts" %}" method="get">
                    <input  required
                            type="text"
                            id="query"
                            name="query"
                            value="{{ query }}"
                            placeholder="عبارت مورد نظر را وارد کنید..."
                            class="w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary sm:w-1/2"
                    />
                    <button
                            type="submit"
                            class="mt-5 bg-secondary px-10 py-4 font-body text-xl font-semibold text-white hover:bg-green sm:mt-0 md:text-2xl"
                    >
                        جست و جو
                    </button>
                </form>
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                      <div class="text-red">{{ message|safe }}</div>
                        {% endif %}
                    {% endfor %}
                     {% endif %}

                <div class="pt-4">

                    {% include "blog/show-group-posts.html" with posts=posts %}

                </div>

                <div class="flex justify-center items-center pt-8 lg:pt-16 space-x-4 space-x-reverse">
                    {% for page_number in range %}
                       {% if page_number|is_digit %}
                        <a  {% if page_number != current_page %} href="?page={{ page_number }}&per_page={{ per_page }}{% if query %}&query={{ query }}{% endif %}" {% endif %}
                                class="cursor-pointer border-2 border-primary px-3 py-1
                         font-body font-medium text-primary transition-colors hover:border-secondary
                          hover:text-secondary dark:border-green-light dark:text-white
                          dark:hover:border-secondary dark:hover:text-secondary
                          {% if page_number == current_page %} dark:text-white dark:bg-secondary text-secondary border-secondary {% endif %}
                          ">
                            {{ page_number }}
                        </a>
                         {% else %}
                           <span class="cursor-not-allowed px-2 py-1
                         font-body font-medium text-primary transition-colors hover:border-secondary
                          hover:text-secondary dark:border-green-light dark:text-white
                          dark:hover:border-secondary dark:hover:text-secondary">
                            {{ page_number }}
                        </span>
                         {% endif %}
                    {% endfor %}


{#                    <span#}
{#                            class="group flex cursor-pointer items-center border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary"#}
{#                    >Next#}
{#        <i#}
{#                class="bx bx-right-arrow-alt ml-1 text-primary transition-colors group-hover:text-secondary dark:text-white"#}
{#        ></i#}
{#        ></span>#}
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="fixed right-0 top-0 m-8"
                     x-data="snackBar()"
                     x-show="show"
                     x-init="end()"
                     x-transition:enter="transition ease-out duration-500"
                     x-transition:enter-start="opacity-0 transform scale-90"
                     x-transition:enter-end="opacity-100 transform scale-100"
                     x-transition:leave="transition ease-in duration-500"
                     x-transition:leave-start="opacity-100 transform scale-100"
                     x-transition:leave-end="opacity-0 transform scale-90"
                >
                    <div
                            class="rounded flex items-center bg-green border-r-4 border-green-dark py-2.5 px-3.5
                             shadow-md mb-2"
                    >
                        <!-- icons -->
                        <div class="text-white mr-1">
                            <span class="mdi mdi-check text-2xl"></span>
                        </div>
                        <!-- message -->
                        <div class="text-white text-sm mr-2">
                            {{ message|safe }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script>
        function snackBar() {
            return {
                show: true,
                end() {
                    setTimeout(() => {
                        this.show = false;
                    }, 4000)
                },
            }
        }
    </script>

{% endblock %}