{% load compress %}
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.svg' %}" sizes="any" type="image/svg+xml">
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <meta name="theme-color" content="#007c85">
    <meta name="msapplication-navbutton-color" content="#007c85">
    <meta name="apple-mobile-web-app-status-bar-style" content="#007c85">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="application-name" content="sutta"/>

    {% block seo %}
    {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css"
    />

    <script>
        hljs.initHighlightingOnLoad();
    </script>

    <!--Alpine Js V3-->
    <script type="text/javascript" src="{% static 'src/turbolinks.js' %}"></script>
    <script type="module" src="{% static 'src/application.js' %}" data-turbolinks-eval="false"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.4.55/css/materialdesignicons.min.css">
    <style>
        [x-cloak] {
            display: none;
        }
    </style>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'src/fonts.css' %}">
</head>

<body
        x-data="global()"
        x-init="themeInit()"
        :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
        class="dark:bg-primary"
        dir="rtl"
>
<div class="w-full mx-auto mt-4 font-body">
    <div id="main">
        {% include 'layouts/header.html' %}
        {% block content %}
        {% endblock content %}
        {% include 'layouts/footer.html' %}
    </div>
</div>
<script src="{% static 'src/main.js' %}"></script>
</body>

</html>