@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANYekan/eot/iranyekanwebbold(fanum).eot');
    src: url('../fonts/IRANYekan/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
    url('../fonts/IRANYekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANYekan/woff/iranyekanwebbold(fanum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANYekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANYekan/eot/iranyekanweblight(fanum).eot');
    src: url('../fonts/IRANYekan/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
    url('../fonts/IRANYekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANYekan/woff/iranyekanweblight(fanum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANYekan/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANYekan/eot/iranyekanwebregular(fanum).eot');
    src: url('../fonts/IRANYekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
    url('../fonts/IRANYekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANYekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}

body {
    font-family: iranyekan;
}
